html,
* {
	padding: 0;
	margin: 0;
}

body {
	background-repeat: repeat;
	background-color: #416343;
}

@font-face {
  font-family: 'RSU';
  src: url('font/RSU_Regular.eot'); /* IE9 Compat Modes */
  src: url('font/RSU_Regular.eot?#iefix') format('embedded-opentype'),
       url('font/RSU_Regular.woff') format('woff'),
       url('font/RSU_Regular.ttf')  format('truetype'),
       url('font/RSU_Regular.svg#75988ec7a180ed96d48291db84701f84') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Espressa';
  src:url('font/Espressa.ttf');  
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'TuTutblock';
  src:url('font/TuTutblock.ttf');  
  font-style:   normal;
  font-weight:  400;
}

.bar_p {
	float: left;
	width: 100%;
	height: 6vh;
	top: 10%;
	left: 0;
	position: relative;
	margin: auto;
}

.bar {
	z-index: 2;
	width: 100%;
	float: left;
	height: 100%;
	left: 0;
	position: absolute;
	background-color: #ce053e;
	right: 0;
	margin: auto;
}

.sec {
	float: left;
	width: 100%;
	/* height: 30vh; */
	position: relative;
	left: 0;
	text-align: center;
	right: 0;
	top: 10%;
	margin: 3% auto;
}

.logo{
	float: right;
	width: 200px;
	height: 100px;
	position: relative;
}

.logo img {
	top: 10%;
	width: 100%;	
	position: absolute;
	right: 10%;
	margin: 0 auto;
}

.com{
    position: relative;
    width: 100%;
    float: left;
    padding-top: 1%;
}

.com img{
	z-index: 1;
	bottom: 0%;
	width: 46%;
	position: absolute;
	left: 0;
	right: 0;
	margin: -11% auto;
}

.table{
    position: relative;
    width: 100%;
    float: left;
    padding-top: 1%;
}

.table img{
	z-index: 1;
	bottom: 0%;
	width: 46%;
	position: absolute;
	left: 0;
	right: 0;
	margin: -22% auto;
}

.section {
	width: 100%;
}

.curtain {
	right: 0;
	top: 0;
}

.curtain img {
	z-index: 2;
	width: 15%;
	left: 0;
	position: absolute;
}

.curtain_2 {
	right: 0;
	top: 0;
}

.curtain_2 img {
	z-index: 2;
	width: 15%;
	right: 0;
	position: absolute;
}
.txt_head{
		z-index: 2;
	position: relative;
	width: 100%;
	float: left;
	padding-top: 1%;
}

.txt_head h1{
	text-align: center;
	font-size: 4.5vw;
	font-family: 'RSU';
	padding-top: 9px;
	color: #ffffff;
	/* border: 2px dashed #fff; */
	background-color: #333;
}
.timing {
	z-index: 2;
	position: relative;
	width: 100%;
	float: left;
	padding-top: 9%;
}

.hours {
	float: left;
	margin-left: 11%;
	font-family: 'TuTutblock';
	color:#fff;
	margin-right: 10%;
}

.minutes {
	float: left;
	font-family: 'TuTutblock';
	color:#fff;
	margin-right: 10%;
}

.seconds {
	float: left;
	font-family: 'TuTutblock';
	color:#fff;
}

.clearDiv {
	clear: both;
}

.is-complete {
	color: red;
	-webkit-animation-name: blinker;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
	-webkit-animation-duration: 1s;
}

@-webkit-keyframes blinker {
	from {
		opacity: 1.0;
	}

	to {
		opacity: 0.0;
	}

}

.timer {
	font-size: 12vw;
	width: 73%;
	margin: 0 auto;
	padding-bottom: 3%;
}

.h{
	float: left;
	margin-left: 24%;
}
.h h1{
	font-size: 4.5vw;
	font-family: 'RSU';
	color:#fff;
}

.m{
	float: left;
	margin-left: 13%;
}
.m h1{
	font-size: 4.5vw;
	font-family: 'RSU';
	color:#fff;
}


.s{
	float: left;
	margin-left: 15%;
}
.s h1{
	font-size: 4.5vw;
	font-family: 'RSU';
	color:#fff;
}

.footer{
	position: absolute;
	float: left;
	width: 100%;
	height: 100px;
	bottom: 0;
	border-top: 5px solid #333;
	background-color: #111;
}

.thank{
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: #f51e1e;
	text-align: center;
	opacity:0;
  	transition:opacity 2s linear;
}

.thank h1{
	top:38%;
	left: 0;
	right: 0;
	margin:auto;
	position: absolute;
	font-size: 11.5vw;
	font-family: 'RSU';
	color:#fff;
}

.show_thank{
	opacity:1;
}